$contentWidth = auto;
$accentColor = #0773FC;
$mainColor = #626262;

.theme-default-content:not(.custom) > h2 {
  font-size: 24px;
  font-weight: 400;
  color: $accentColor;
}
.theme-default-content:not(.custom) > h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  color: $mainColor;
  padding-top: 0;
}
.theme-default-content:not(.custom) > h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: $mainColor;
}
.theme-default-content:not(.custom) > h5 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  color: $mainColor;
}
.header-anchor {
  display: none;
}

